


.main-container{
    width: 100vw;
    min-height: 90vh;
    align-content: center;
    background: linear-gradient(180deg, rgba(151,242,243,1) 0%, rgba(132,206,209,1) 100%);
    justify-content: center;}


.content h1 {
    color: #064273;
}